<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Order - ShoesYou</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/stylestrack.css')}}">

</head>
<body>
    <header class="header">
        <nav style="display: grid; grid-template-columns:repeat(2, 1fr); justify-content:space-between;">
            <div style="display: flex; align-items:center;">
                <a href="/" class="logo">
                    <img src="{{ url_for('static',filename='pics/Logo2.png') }}" alt="ShoesYou">
                </a>
            </div>
            <div style="display:flex;justify-content:end; text-align:end;" >
                <a href="/wishlist" class="nav_icon"><img src="{{ url_for('static',filename='pics/wishlist.PNG') }}" alt="User Icon" style="width: 95%;"></a>
                <a href="/cart" class="nav_icon"><img src="{{ url_for('static',filename='pics/cart.PNG') }}" alt="User Icon" style="width: 100%;" /><div id="cart_items_total"></div></a>
                <a href="/login" class="nav_icon" id="logged_in"><img src="{{ url_for('static',filename='pics/user.jpeg') }}" alt="User Icon" style="width: 90%;"></a>
                <button style="display: none; padding: 5px;" id="log_out">log out</button>
            </div>
        </nav>
    </header>

    <main>
        <section class="track-order">
            {% for order in orders %}
                <h1>Track Order</h1>
                <h2>Order details: #{{order['order_id']}}</h2>

                <div class="order-progress">
                    <div class="progress-step completed">
                        <p>Order Placed</p>
                    </div>
                    <div class="progress-step completed">
                        <p>Order Confirmed</p>
                    </div>
                    <div class="progress-step completed">
                        <p>In Process</p>
                    </div>
                    <div class="progress-step">
                        <p>In Delivery</p>
                    </div>
                    <div class="progress-step">
                        <p>Delivered</p>
                    </div>
                </div>

                <div class="order-summary">
                    <h2>Bestellungsübersicht:</h2>
                    <!-- Order Item 1 -->
                        
                        <div class="order-item">
                            <div class="item-number">1.</div>
                            <div class="item-image"></div>
                            <div class="item-details">
                                <p>Quantity: {{order['quanity']}}</p>
                                {% for product in order['product'] %}
                                    <p>Details:<br>{{product['product_name']}}<br>{{product['description']}}</p>
                                </div>
                                <div class="item-price">{{product['price'] * order['quanity']}} $</div>
                                {% endfor %}
                        </div>
                {% endfor %}
                <!-- Order Item 2 -->
            </div>

            <p class="return-policy">Some Articles cannot be returned!</p>
        </section>
    </main>

    <footer>
        <div class="footer-section">
            <h3>ShoesYou</h3>
            <ul>
                <li>Über uns</li>
                <li>News Agents</li>
                <li>Mobile Apps</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Informationen</h3>
            <ul>
                <li>Hilfe</li>
                <li>Tipps für deine Sicherheit</li>
                <li>Impressum</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Social Media</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>TikTok</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Allgemein</h3>
            <ul>
                <li>Datenschutz</li>
                <li>Anzeigen Übersicht</li>
            </ul>
        </div>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
