<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesYou - Register</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/stylesReg.css') }}">
</head>
<body>
    <div class="register-container">
        <div class="logo">
            <h1>ShoesYou</h1>
        </div>
        <div class="register-content">
            <div class="register-form">
                <h2>Register</h2>
                <form method="POST">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="Name">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" placeholder="E-mail">
                    <label for="role">Choose Role</label>
                    <select name="role">
                        <option value="normal_user">Normal user</option>
                        <option value="seller">Seller</option>
                    </select>
                    <label for="street">Street</label>
                    <input type="text" name="street" placeholder="street">
                    <label for="house_number">House number</label>
                    <input type="text" name="house_number" placeholder="house number">
                    <label for="postel_code">Postel code</label>
                    <input type="text" name="postel_code" placeholder="postel code">
                    <label for="city">City</label>
                    <input type="text" name="city" placeholder="city">
                    <label for="country">Country</label>
                    <input type="text" name="country" placeholder="country">
                    <label for="birthdate">Date of birth</label>
                    <input type="date" name="birthdate" placeholder="birthdate">
                    <label for="password">Set a password</label>
                    <input type="password" name="password" placeholder="Set a password">
                    <button type="submit">Register</button>
                </form>
            </div>
            <div class="register-image">
                <img src="{{ url_for('static',filename='/pics/1st.jpg') }}" alt="Shoe Image">
            </div>
        </div>
    </div>
</body>
</html>