<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account - ShoesYou</title>
    <link rel="stylesheet" href="stylesAcc.css">
    <link rel="stylesheet" href="/frontend/main /style.css">
</head>
<body>
    <header class="header">
        <nav style="display: grid; grid-template-columns:repeat(3, 1fr); justify-content:space-between;">
            <div style="display: flex; align-items:center;">
                <a href="/" class="logo">
                    <img src="{{ url_for('static',filename='pics/Logo2.png') }}" alt="ShoesYou">
                </a>
            </div>
            <div style="display:flex;justify-content:end; text-align:end;" >
                <button id="user-profile" style="display: none;">Profile</button>
                <a href="/wishlist" class="nav_icon"><img src="{{ url_for('static',filename='pics/wishlist.PNG') }}" alt="User Icon" style="width: 95%;"></a>
                <a href="/cart" class="nav_icon"><img src="{{ url_for('static',filename='pics/cart.PNG') }}" alt="User Icon" style="width: 100%;" /><div id="cart_items_total"></div></a>
                <a href="/login" class="nav_icon" id="logged_in"><img src="{{ url_for('static',filename='pics/user.jpeg') }}" alt="User Icon" style="width: 90%;"></a>
                <button style="display: none; padding: 5px;" id="log_out">log out</button>
            </div>
        </nav>
    </header>

    <main>
        <section class="account">
            <h1>Manage Account</h1>
            <div class="profile">
                <div class="profile-pic">
                    <img src="profile-placeholder.png" alt="User profile picture">
                </div>
                <div class="profile-info">
                    <h2>User</h2>
                    <p>xxxxxxxxx<br>xxxxxxxxx<br>xxxxx <i class="fas fa-question-circle"></i></p>
                </div>
            </div>

            <div class="account-details">
                <h3>Account Details</h3>
                <p>E-mail: MaxMustermann@gmail.com</p>
                <p>Birthdate: DD.MM.YYYY</p>
                <p>Username: goofyahh</p>
                <p><a href="#">Click here</a> to edit your information</p>
            </div>

            <div class="seller-info">
                <h3>Want to become a seller? Instructions to becoming a seller:</h3>
                <p>
                    xxxxxxx xxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxxx xxxxx x x xx x x xxxxxxxx xxxx xxxxxxx xxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxxx xxxxx x x xx x x xxxxxxxx xxxx xxxxxxx xxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxxx xxxxx x x xx x x xxxxxxxx xxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxxx xxxxx x xx x x xxxxxxxx xxxx xxxxxxx xxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxxx xxxxx x xx x x xxxxxxxx xxxx
                </p>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-section">
            <h3>ShoesYou</h3>
            <ul>
                <li>Über uns</li>
                <li>News Agents</li>
                <li>Mobile Apps</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Informationen</h3>
            <ul>
                <li>Hilfe</li>
                <li>Tipps für deine Sicherheit</li>
                <li>Impressum</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Social Media</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>TikTok</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Allgemein</h3>
            <ul>
                <li>Datenschutz</li>
                <li>Anzeigen Übersicht</li>
            </ul>
        </div>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>
